.sent {
background-color: lighten(green, 10%);
font-weight: bold;
color: white;
}
.3days {
background-color: lighten(red, 10%);
font-weight: bold;
color: white;
}
.not_sent {
background-color: lighten(yellow, 10%);
font-weight: bold;
color: black;
}